#-------------------------------------
# Initial Version
# Added API for reinitiate API for webhook
# Added API create a new notification - Wehhook or EMail.
#-------------------------------------
openapi: 3.0.0
info:
  version: 0.0.3
  title: Digital Disbursement Platform Payment APIs
  description: This Specification document lists the APIs required for sending notification to merchant. Notification, would be send over webhook url.

servers:
  - url:  https://merchant.endpoint.com
    description: This should be merchant provided endpoint.

paths:
  /ddp/v1/payments/notifications:
    post:
      x-group-name: Notify Merchant
      x-proxy-name: Web Hook
      x-child-product-name: NotificationService
      tags:
        - Digital Disbursement Platform Notification APIs
      description: This API will be used to send web hook notifications to merchant on pre configured url.
      parameters:
        - in: header
          name: Authorization
          description: This Authorization header can content Bearer as JWT, HMAC, OAuth. Merchant can choose any.
          required: true
          schema: {
	        type: string,
	        default: "Authorization"
	      }
        - in: header
          name: Timestamp
          description: Epoch timestamp in the request initiating system
          required: true
          schema: {
	        type: string,
	        default: "Timestamp"
	      }
        - in: header
          name: Client-Request-Id
          description: Contains a unique ID generated by the client that can be used for enforcing idempotency on POST actions. POSTs are inherently non-idempotent and submitting the exact same request multiple times would create duplicate resources.
            Note:- Omitting this header increases the risk of duplicate transactions, which for payments could cost the client issues like double-billing.
          required: true
          schema: {
	        type: string,
	        default: "Client-Request-Id"
	      }
        - in: header
          name: Content-Type
          description: used to indicate the media type of the resource.
          required: true
          schema: {
            type: string,
            default: "application/json"
	      }

      requestBody:
        description: Details required for provision a PAN data.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationRequuest'
      responses:
        '200':
          description: Initialization response - Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContent'

  /ddp/v1/payments/notifications/{id}:
    patch:
      x-group-name: Notify Merchant
      x-proxy-name: Reinitiate Web Hook
      x-child-product-name: NotificationService
      tags:
        - Digital Disbursement Platform Notification APIs
      description: This API is to reinitiate the webhook notiifcation.
      parameters:
        - in: header
          name: Authorization
          description: This Authorization header can content Bearer as JWT, HMAC, OAuth. Merchant can choose any.
          required: true
          schema: {
	        type: string,
	        default: "Authorization"
	      }
        - in: header
          name: Timestamp
          description: Epoch timestamp in the request initiating system
          required: true
          schema: {
	        type: string,
	        default: "Timestamp"
	      }
        - in: header
          name: Client-Request-Id
          description: Contains a unique ID generated by the client that can be used for enforcing idempotency on POST actions. POSTs are inherently non-idempotent and submitting the exact same request multiple times would create duplicate resources.
            Note:- Omitting this header increases the risk of duplicate transactions, which for payments could cost the client issues like double-billing.
          required: true
          schema: {
	        type: string,
	        default: "Client-Request-Id"
	      }
        - in: header
          name: Content-Type
          description: used to indicate the media type of the resource.
          required: true
          schema: {
            type: string,
            default: "application/json"
	      }
        - in: path
          name: id
          description: Valid ids are Paymentid, Traansactionid, or MerchantTransactionId
          required: true
          schema:
            type: string

      requestBody:
        description: Details required for provision a PAN data.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRequest'
      responses:
        '200':
          description: Initialization response - Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContent'
        '400':
          description:  Initialization cancel response - Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Initialization cancel response - Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Initialization cancel response - not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: Initialization cancel response - Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
components:
  schemas:
##-------------------------------------
## Response Model
##-------------------------------------

    NotificationRequuest:
      description: The webhook notification payload sent out to merchant in case of change in transaction status.
      type: object
      required:
      - transactionId
      - created
      - source
      - eventData
      - transactionStatus
      properties:
       transactionId:
         description: Uniquely identifies an event and related message.
         type: string
         example: "c2RnYXJ0aHR3ZXN3eXNkVVC"
       created:
         description: Epoch timestamp in the initiating system for the event
         type: number
         example: 1501725477
       source:
         $ref: '#/components/schemas/FundingSourceType'
       recipient:
           $ref: '#/components/schemas/PaymentRespsone'
       transactionStatus:
           $ref: '#/components/schemas/TransactionStatus'
       customFields:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/NVP'
          uniqueItems: true

    UpdateRequest:
      description: Payload to idenify which notification should be reset to send.
      type: object
      required:
      - eventType
      properties:
       eventType:
          $ref: '#/components/schemas/NotificationEventType'
       scope:
          $ref: '#/components/schemas/Scope'

##-------------------------------------
## Object Model
##------------------------------------
    Amount:
      description: Information about an ACH account
      type: object
      required:
      - total
      - currency
      properties:
        total:
          description: Indicates total amount
          type: number
          example: 100.00
        currency:
          description: Indicates currency code for total amount
          type: string
          example: "USD"

    PaymentRespsone:
      description: Details about notfication message.
      type: object
      required:
        - merchantCustomerId
        - merchantTransactionId
        - payments
      properties:
        merchantCustomerId:
            $ref: '#/components/schemas/MerchantCustomerId'
        merchantTransactionId:
            $ref: '#/components/schemas/MerchantTransactionId'
        payments:
            $ref: '#/components/schemas/PaymentInfo'


    PaymentInfo:
      description: Details about recipient and amount associated with the recipient.
      type: object
      required:
        - paymentType
      properties:
        paymentId:
          description: Unique Identifier provided by disbursement platform at the time of initialization per recepient.
          type: string
          example: "8a34144657d0aa6e0157d3808ed000f2"
          readOnly: true
        amount:
          $ref: '#/components/schemas/Amount'
        fee:
          $ref: '#/components/schemas/Amount'
        paymentType:
          description: Type of disbursement - wages, claims, promotions, loans, refund etc
          example: "wages"
          type: string
        paymentStatus:
          $ref: '#/components/schemas/PaymentStatus'

    MerchantCustomerId:
      description: This is provided by merchant at the time of payment initialization. This must be associated with recipient.
      type: string
      example: vendorId-0987613457398475

    MerchantTransactionId:
      description: This is provided by merchant at the time of payment initialization.
      type: string
      example: vendorId-0987613457398475

    NVP:
      description: Name and Value pair.
      type: object
      properties:
        key:
          type: string
        value:
          type: string
        valueAsList:
          type: array
          minItems: 0
          items:
            type: string
#-------------------------------------
# Common Models
#-------------------------------------
    Error:
      description: (Response Only) Model for error messaging
      type: object
      properties:
        code:
          type: string
          description: Uniquely identifies an error condition. Client applications need to read and handle errors based on this.
        message:
          type: string
          description: A generic description of the error condition.
        category:
          type: string
          description: The resource associated with the error condition.
        developerInfo:
          type: object
          description: Information that needs to be understood by the client developers and should not be interpreted for application processing.
          properties:
            developerMessage:
              type: string
              description: An elaborative description of the error description.
            moreInfo:
              type: string
              description: Link to the error in Developer page.
            fieldError:
              description: Detailed information about message format errors.
              type: array
              items:
                properties:
                  field:
                    description: The property or attribute associated with the error
                    type: string
                  message:
                    description: Information specific to a property or attribute.
                    type: string
        hostExtraInfo:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/NVP'
          uniqueItems: true
      example:
        code: "40000"
        message: "Example Error"
        category: "example"
        developerInfo:
          developerMessage: "Invalid Message format in request payload"
          moreInfo: "https://www.example.com/errors/40000"
          fieldError:
            - field: "example id"
              message: "exampleId is mandatory"
#-------------------------------------
# ENUM Models
#-------------------------------------
    FundingSourceType:
      description: Identifies the type of resource contained in the data section of the Event object.
      type: string
      enum:
        - CREDIT
        - DEBIT
        - ACH
        - PREPAID
        - TOKEN
        - VENMO
        - PAYPAL

    TransactionStatus:
      title: Transaction Status
      description: Indicates the status of an Transaction initialization operation.
      type: string
      readOnly: true
      enum:
        - TF
        - PA
        - PD
        - IP
        - TC
        - TV
        - TE

    PaymentStatus:
      title: Payment Status
      description: Indicates the status of an Payment with respespect of each payment operation.
      type: string
      readOnly: true
      enum:
        - DF
        - DP
        - DS
        - DA
        - DR
        - DI
        - DD
        - DH
        - DC
        - PE
        - PC
        - AF
        - RE
        - IP
        - RP
        - RS
        - RF
        - DNF

    NotificationEventType:
      title: Notification Event Type
      description: Different notification Event types.
      type: string
      enum:
       - MERCHANT_CANCEL
       - PAYMENT_INITIALISE
       - PERIODIC_PAYMENT_REMINDER
       - PAYMENT_DISBURSE
       - PAYMENT_DISBURSE_FAILED
       - PAYMENT_APPROVED
       - RECIPIENT_REJECTED
       - FRAUD_FAILED
       - EMAIL_BOUNCED
       - ACH_CANCEL_SALE_REVERSAL
       - MERCHANT_CANCEL_PAYMENT_SELECTED
       - ACH_CANCEL

    Scope:
      title: Notification Event Scope
      description: Different notification Event Scope.
      type: string
      enum:
       - EMAIL
       - WEBHOOK

#-------------------------------------
# response Models
#-------------------------------------
    NoContent:
      description: The request succeeded but there’s really nothing to show.

    BadRequest:
      description: Bad request
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Unauthorized

    NotFound:
      description: Not Found - The requested resource doesn't exist.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'

    Conflict:
      description: Conflict - The requested operation conflicts with the current state of the identified resource.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'

    ServerError:
      description: An unexpected server error occured.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
